@use 'styles/duration';
@use 'styles/font';

.logo {
  margin-bottom: 5px;
}

.logoText {
  top: 50%;
  left: 50%;
  margin-top: 0;
  color: white;
  position: absolute;
  font-size: font.$lg;
  font-family: font.$logo;
  transform: translate(-50%, -50%);
}

.logoBg {
  width: 100px;
  height: 50px;
  position: relative;
  border-radius: 5px;
  animation: personal-logo-gradient duration.$xlg ease infinite;
  background: linear-gradient(-45deg, #bb0900, #850600, #520500, #850600, #bb0900);
  background-size: 500% 500%;

  @keyframes personal-logo-gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
