#about {
  margin: 0 0 0 50px;
  font-size: _size(about);
  color: var(--body_color);
}

#kaj-text {
  margin: 0px;
  display: inline-flex;
  animation: bounce-text _duration(bounce) ease infinite;
}

#hidden-kaj {
  opacity: 0;
  transition: 1s;
  pointer-events: none;
  font-size: _size(hidden-kaj);
}

#kaj-text:hover + #hidden-kaj {
  opacity: 1;
  animation: none;
  display: inline;
}

@keyframes bounce-text {
  0% {
    transform: translateY(0px);
  }
  46% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  56% {
    transform: translateY(0px);
  }
  58% {
    transform: translateY(-3px);
  }
  65% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
