.cell {
  padding-inline: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;

  h2 {
    display: inline;
    vertical-align: middle;
    color: var(--body_color);
  }

  h3 {
    margin: 0px;
    font-weight: _font(weight-heading);
    padding-top: 5px;
    font-style: italic;
    font-size: _size(subtitle);
    color: var(--sub-text-color);
  }

  li {
    margin: 0px;
    font-weight: _font(weight-li);
    font-size: _size(description);
    color: var(--content-text-color);
    animation: fadein _duration(bullet);
  }

  li:not(:last-child) {
    margin-bottom: 10px;
  }

  ul {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 25px;
  }

  &:hover {
    border-radius: 5px;
    transition-duration: _duration(text);
    background-color: var(--content-background);
  }
}

.cell-title {
  display: flex;
  padding-top: 5px;
}

.cell-header {
  display: inline;
  flex-direction: column;
  justify-content: center;
}
