#location-time {
  display: inline-flex;
  flex-wrap: wrap;

  img {
    width: 15px;
    height: auto;
    padding-right: 5px;
    filter: var(--invert-filter);
  }
  p {
    font-size: 0.9em;
    font-weight: 500;
    color: var(--sub-text-color);
    padding-right: 5px;
    margin: 0px;
  }
}
