$family: ('Roboto', sans-serif);
$logo-font: ('Permanent Marker');
$weight: 400;
$weight-bold: 700;
$weight-li: 500;
$weight-p: 400;
$weight-heading: 500;
$weight-heading-bold: 800;
$kerning-heading: 0.01em;

$underline: 0.1em;
$hidden-kaj: 0.8em;
$subtitle: 0.9em;
$skills: 0.9em;
$description: 1em;
$about: 1.15em;
$content-header: 2em;
$logo: 2em;
$main-header-small: 4em;
$main-header: 5em;
