@use 'styles/color';
@use 'styles/duration';
@use 'styles/font';

body {
  margin: 0;
  font-family: font.$family;
  background-color: var(--body-background);
  transition: background-color duration.$transition ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

strong,
b {
  font-weight: font.$weight-bold;
}
