@keyframes personal-logo-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes loading {
    to {
      clip-path: inset(0 -12px 0 0)
    }
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  46%  { transform: translateY(0); }
  50%  { transform: translateY(-4px); }
  56%  { transform: translateY(0); }
  58%  { transform: translateY(-2px); }
  65%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}