/* Color reveal for entire keyword */
.color-reveal {
    text-decoration: none;
    background: 
      linear-gradient(to right, var(--body_color), var(--body_color)),
      linear-gradient(to right, rgb(220, 0, 0), rgb(225, 0, 255), rgb(0, 53, 200));
    background-size: 100% 1em, 0 1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.color-reveal:hover,
.color-reveal:focus {
    background-size: 0 1em, 100% 1em;
}
  

/* Red colored project links */
.black-underline {
    position: relative;
    padding: 0em 0;
    color: var(--body_color);
    text-decoration: none;
}
  
.black-underline::after {
    content: '';
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: -1%;
    width: 102%;
    height: 0.1em;
    background-color: var(--body_color);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
  
.black-underline:hover::after,
.black-underline:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.1em, 0);
}
  