.no-decoration {
    text-decoration: none;
}

.no-margin {
    margin: 0px;
}
  
.absolute {
    position: absolute;
}
  
.relative {
    position: relative;
}
  
.w-full {
    width: 100%;
}

.two-fade-in {
    animation: fadein 2s;
}

.black {
    color: black;
}

.gray {
    color: #303030;
}

.twty-margin-bottom {
    margin-bottom: 20px;
}

.dark-invert {
    filter: var(--invert-filter);
}

li:not(:last-child) {
    margin-bottom: 10px;
}

ul {
    margin-bottom: 0px;
}