.no-decoration {
    text-decoration: none;
}

.no-margin {
    margin: 0px;
}
  
.absolute {
    position: absolute;
}
  
.relative {
    position: relative;
}
  
.w-full {
    width: 100%;
}

.two-fade-in {
    animation: fadein 2s;
}

.twty-margin-bottom {
    margin-bottom: 20px;
}

li:not(:last-child) {
    margin-bottom: 10px;
}

ul {
    margin-bottom: 0px;
}