.no-decoration {
    text-decoration: none;
}

.no-margin {
    margin: 0px;
}
  
.absolute {
    position: absolute;
}
  
.relative {
    position: relative;
}
  
.w-full {
    width: 100%;
}

.two-fade-in {
    animation: fadein 2s;
}

li{
    margin: 10px 0;
  }