
/* Classes */
.Main > * {
  left: 50px;
  max-width: 85%;
}

.socials-logos {
  height: 20px;
  width: 20px;
  padding-top: 5px;
  padding-inline: 5px;
  justify-content: center;
}

.socials-logos:hover {
  filter: invert(20%) sepia(32%) saturate(4473%) hue-rotate(345deg) brightness(78%) contrast(125%);
  top: -2px;
  transition: all 0.2s ease;
}

.company-logos {
  height: 30px;
  width: auto;
  display: inline;
  padding-right: 20px;
  top: 6px;
  pointer-events: all;
}

.content-headers {
  padding-bottom: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding-block: 50px;
  padding-bottom: 0px;
}

.side-bar {
  font-size: 2em;
  padding-right: 140px;
  max-width: 80px;
}

.projects {
  margin-block-start: -50px;
  margin-block-end: 0px;
}

.project-headers {
  margin-top: 50px;
  margin-bottom: 0px;
  line-height: 1.5;
}

.project-text {
  color: #303030;
  font-weight: 400;
  font-size: 1em;
  margin-top: 5px;
}

.sub-content {
  max-width: 800px;
}


/* ids */
#top-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

#logos-container {
  left: 50px;
  top: 50px;
  padding-right: 120px;
  padding-bottom: 50px;
}

#socials-container {
  display: flex;
  justify-content: center;
}

#main-header {
  left: 50px;
}

#name-title {
  color: black;
  font-size: 4em;
  padding-top: 35px;
}

#subheader-text {
  color: #303030;
  font-weight: 500;
  font-size: 1em;
}

#about-text {
  color:#303030;
  font-size: 1.2em;
  font-weight: 400;
}

#hidden-kaj {
  opacity: 0;
  transition: 1s;
  pointer-events: none;
}

#kaj-text:hover + #hidden-kaj {
  display: inline;
  opacity: 1;
}

#chairable-logo {
  display: inline;
  background: linear-gradient(0deg, #130b60, #208309);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#coming-soon {
  margin-top: 12px;
  clip-path: inset(0 12px 0 0);
  animation: loading 3s steps(6) infinite, fadein 2s;
}
