:root {
  --body_background: white;
  --body_color: black;
  --content-background: #eeeeee;
  --content-text-color: #303030;
  --sub-text-color: #4b4b4b;
  --footer-background: #eeeeee;
  --invert-filter: invert(0%);
}

[data-theme="dark"] {
  --body_background: #1b1b1b;
  --body_color: white;
  --content-background: #131313;
  --content-text-color: #d6d6d6;
  --sub-text-color: #c5c5c5;
  --footer-background: #131313;
  --invert-filter: invert(90%);
}

/* Classes */
*:not(#toggle-container) {
  transition: background-color 0.3s ease-in-out;
}

.Main {
  background-color: var(--body_background);
}

.homepage {
  width: max(50%, 500px);
  margin: auto;
  background-color: var(--body_background);
  max-width: 95vw;
}

.socials-logos {
  height: 20px;
  width: 20px;
  padding-top: 5px;
  padding-inline: 5px;
  justify-content: center;
  filter: var(--invert-filter);
}

.socials-logos:hover {
  filter: invert(20%) sepia(32%) saturate(4473%) hue-rotate(345deg) brightness(78%) contrast(125%);
  top: -2px;
}

.company-logos {
  height: 30px;
  width: auto;
  display: inline;
  padding-right: 20px;
  top: 5px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding-block: 50px;
}

.content-headers {
  color: var(--body_color);
  padding-bottom: 20px;
}

.content-container {
  padding-inline: 10px;
  padding-bottom: 10px;
  margin-left: 50px;
  transition-duration: 0.5s;
}

.content-container:hover {
  background-color: var(--content-background);
  border-radius: 5px;
  transition-duration: 0.5s;
}

.bounce-text {
  animation: bounce-text 3s ease infinite;
  display: inline-flex;
}

.bounce-text:hover {
  animation: none;
}

.side-bar {
  font-size: 2em;
  padding-left: 50px;
  padding-right: 90px;
  width: 80px;
}

.sub-content {
  max-width: 800px;
}

.projects {
  margin-left: -10px;
}

.project-headers {
  color: var(--body_color);
  padding-top: 5px;
}

.bullet-text {
  color: var(--content-text-color);
  font-weight: 500;
  font-size: 1em;
}

.experience {
  margin-left: -10px;
}

.exp-headers-container {
  padding-top: 5px;
  display: flex;
}

.experience-headers {
  color: var(--body_color);
  display: inline;
  vertical-align: middle;
}

.exp-headers-text {
  display: inline;
  flex-direction: column;
  justify-content: center;
}

.work-duration-text {
  font-style: italic;
  font-size: 0.9em;
  font-weight: 500;
  padding-top: 2px;
  color: var(--sub-text-color);
}


/* ids */
#top-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  overflow-x: hidden;
  padding-top: 50px;
}

#logos-container {
  left: 50px;
  top: 50px;
  padding-right: 120px;
  padding-bottom: 50px;
}

#toggle-container {
  position: absolute;
  background-color: inherit;
  right: 50px;
  top: 100px;
  z-index: 10;
}

#socials-container {
  display: flex;
  justify-content: center;
}

#main-header {
  left: 50px;
  max-width: 80%;
  padding-right: 250px;
}

#name-title {
  color: var(--body_color);
  font-size: 4em;
  padding-top: 30px;
}

#subheader-text {
  color: var(--content-text-color);
  font-weight: 500;
  font-size: 1em;
  padding-bottom: 5px;
}

#location-time-container {
  display: flex;
  flex-wrap: wrap;
}

#location-time-container:hover > #location {
  filter: invert(20%) sepia(32%) saturate(4473%) hue-rotate(345deg) brightness(78%) contrast(125%);
}

#location-text {
  font-size: 0.9em;
  font-weight: 500;
  color: var(--sub-text-color);
  padding-right: 5px;
}

#location {
  width: 15px;
  height: auto;
  padding-right: 5px;
  filter: var(--invert-filter);
}

#location:hover {
  filter: invert(20%) sepia(32%) saturate(4473%) hue-rotate(345deg) brightness(78%) contrast(125%);
}

#about-text {
  color: var(--body_color);
  font-size: 1.2em;
  font-weight: 00;
  margin-left: 50px;
}

#hidden-kaj {
  opacity: 0;
  font-size: 0.8em;
  transition: 1s;
  pointer-events: none;
}

#kaj-text:hover + #hidden-kaj {
  display: inline;
  opacity: 1;
}

#coming-soon {
  color: var(--body_color);
  margin-top: 12px;
  padding-left: 50px;
  clip-path: inset(0 12px 0 0);
  animation: loading 3s steps(6) infinite, fadein 2s;
}

/* Screen size conditional*/
@media screen and (max-width: 1459px) {
  #name-title {
     font-size: 4em;
  }
}
@media screen and (min-width: 1460px) {
  #name-title {
     font-size: 5em;
  }
}