.images {
    height: calc(100px + 5vw);
    width: auto;
    padding: 10px;
}

#media {
    margin-left: 50px;
    text-align: center;
}

#random-text {
    color: var(--content-text-color);
    font-weight: 500;
    font-size: 1em;
    background: none;
    border: none;
    padding-bottom: 40px;
    padding-top: 10px;
}

#random-text:hover {
    cursor: pointer;
}