.content {
  display: flex;
  flex-wrap: wrap;
  padding-block: 30px;
  max-width: $wrapperwidth;

  h1 {
    margin: 0;
    width: 150px;
    text-align: right;
    padding-right: calc(150px - $leftPadding);
    padding-bottom: 20px;
    color: var(--body-color);
    font-size: _size(content-header);
  }
  @media screen and (max-width: calc($wrapperwidth + $offset)) {
    h1 {
      text-align: left;
    }
  }
}

.sub-content {
  width: $contentwidth;
  p {
    margin: 0;
    color: var(--body-color);
  }
}
