.content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: -50px;
  padding-block: 50px;

  h1 {
    margin: 0;
    width: 200px;
    text-align: right;
    padding-right: 70px;
    padding-bottom: 20px;
    color: var(--body_color);
    font-size: _size(content-header);
  }
}

.sub-content {
  max-width: min(900px, 100%);
}

@media screen and (max-width: $swidth) {
  .content-header {
    text-align: left;
    padding-left: 70px;
  }
  .sub-content {
    padding-left: 30px;
  }
}
