#header {
  left: 20px;
  position: relative;

  h1 {
    margin: 0px;
    font-size: 5em;
    padding-top: 30px;
    color: var(--body_color);
    letter-spacing: _font(kerning-heading);
  }

  a {
    flex-wrap: wrap;
    display: inline-flex;
  }

  a:hover #location-icon {
    filter: invert(20%) sepia(32%) saturate(4473%) hue-rotate(345deg) brightness(78%) contrast(125%);
  }

  @media screen and (max-width: $xswidth) {
    h1 {
      font-size: 4em;
    }
  }

  > p {
    margin: 0px;
    font-size: 1em;
    font-weight: 500;
    padding-bottom: 5px;
    color: var(--content-text-color);
  }
}
