#header {
  h1 {
    margin: 0px;
    font-size: _size(main-header);
    color: var(--body-color);
    letter-spacing: _font(kerning-heading);
  }

  a {
    flex-wrap: wrap;
    display: inline-flex;
  }

  a:hover #location-icon {
    filter: $redfilter;
  }

  @media screen and (max-width: $xswidth) {
    h1 {
      font-size: _size(main-header-small);
    }
  }

  > p {
    margin: 0px;
    font-size: _size(description);
    font-weight: 500;
    padding-bottom: 5px;
    color: var(--content-text-color);
  }
}
