#navcell {
  top: 50px;
  left: 50px;
  width: 120px;
  height: 100px;
  padding-right: 130px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  justify-content: space-around;
}

#socials {
  width: 140px;
  justify-content: center;
}

@media screen and (max-width: $swidth) {
  #navcell {
    left: 20px;
  }
}
