#wrapper {
  margin: auto;
  width: $wrapperwidth;
  max-width: $maxwrapperwidth;
  padding-top: $topPadding;
  padding-bottom: $bottomPadding;
  padding-left: $leftPadding;
  padding-right: $rightPadding;
}
