#chair-color {
  color: #263cce;
}

#able-color {
  color: #1a6e08;
}

#guitar-color {
  color: #d5750f;
}

#tuner-color {
  color: #743d02;
}

#gauss-color {
  color: #3067ff;
}

#elim-color {
  color: #db0000;
}

#reddit-color {
  color: #d63900;
}

#translink-color {
  color: #036dc4;
}

#risc-color {
  color: #263cce;
}

#v-color {
  color: #f5b21b;
}
