@import-normalize;

@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

// Base
@import 'base/page';
@import 'base/typography';

// Components
@import 'components/about';
@import 'components/cell';
@import 'components/icons';
@import 'components/logo';
@import 'components/section';

// Layout
@import 'layout/main';
@import 'layout/navcell';
@import 'layout/header';
@import 'layout/subheader';
@import 'layout/topbar';
@import 'layout/wrapper';

// Pages
@import 'pages/notFound';

//TODO
//This is a massive file and needs to be moved to individual components
//THIS IS JUST A PLACEHOLDER AND NEEDS TO BE FIXED ASAP

[data-theme="light"] {
    --body_background: white;
    --body_color: black;
    --content-background: #eeeeee;
    --content-text-color: #303030;
    --sub-text-color: #4b4b4b;
    --invert-filter: invert(0%);
  }
  
  [data-theme="dark"] {
    --body_background: #1b1b1b;
    --body_color: white;
    --content-background: #131313;
    --content-text-color: #d6d6d6;
    --sub-text-color: #c5c5c5;
    --invert-filter: invert(90%);
  }


  
  /* Classes */
  
  .content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-block: 50px;
    left: -50px;
  }
  
  .content-headers {
    color: var(--body_color);
    padding-bottom: 20px;
  }
  
  .content-container {
    padding-inline: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    transition-duration: 0.5s;
  }
  
  .content-container:hover {
    background-color: var(--content-background);
    border-radius: 5px;
    transition-duration: 0.5s;
  }
  
  .bounce-text {
    animation: bounce-text 3s ease infinite;
    display: inline-flex;
  }
  
  .bounce-text:hover {
    animation: none;
  }
  
  .side-bar {
    font-size: 2em;
    padding-right: 70px;
    width: 200px;
    text-align: right;
  }
  
  .sub-content {
    max-width: min(900px, 100%);
  }
  
  .projects {
    margin-left: -10px;
  }
  
  .project-headers {
    color: var(--body_color);
    padding-top: 5px;
  }
  
  .bullet-text {
    color: var(--content-text-color);
    font-weight: 500;
    font-size: 1em;
  }
  
  .experience {
    margin-left: -10px;
  }
  
  .exp-headers-container {
    padding-top: 5px;
    display: flex;
  }
  
  .experience-headers {
    color: var(--body_color);
    display: inline;
    vertical-align: middle;
  }
  
  .exp-headers-text {
    display: inline;
    flex-direction: column;
    justify-content: center;
  }
  
  .work-duration-text {
    font-style: italic;
    font-size: 0.9em;
    font-weight: 500;
    padding-top: 4px;
    color: var(--sub-text-color);
  }
  
  
  /* ids */

  

  

  
  #name-title {
    color: var(--body_color);
    font-size: 5em;
    padding-top: 30px;
  }
  
  #subheader-text {
    color: var(--content-text-color);
    font-weight: 500;
    font-size: 1em;
    padding-bottom: 5px;
  }
  
  #location-time-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  #location-time-container:hover > #location {
    filter: invert(20%) sepia(32%) saturate(4473%) hue-rotate(345deg) brightness(78%) contrast(125%);
  }
  
  #location-text {
    font-size: 0.9em;
    font-weight: 500;
    color: var(--sub-text-color);
    padding-right: 5px;
  }
  
  #location {
    width: 15px;
    height: auto;
    padding-right: 5px;
    filter: var(--invert-filter);
  }
  
  #location:hover {
    filter: invert(20%) sepia(32%) saturate(4473%) hue-rotate(345deg) brightness(78%) contrast(125%);
  }
  

  
  /* Screen size conditional*/
  @media screen and (max-width: 500px) {
    #name-title {
       font-size: 4em;
    }
    #main {
      max-width: 105vw;
    }
  }
  
  @media screen and (max-width: 1250px){
    .side-bar {
      text-align: left;
      padding-left: 90px;
      padding-left: 70px;
    }
    .sub-content {
      padding-left: 30px;
    }
    #media-title {
      padding-right: 0px;
      width: 100px;
    }
    #header {
      left: 20px;
    }
    #navcell {
      left: 20px;
    }
  }

.no-decoration {
    text-decoration: none;
}

.twty-bottom-margin {
    margin-bottom: 20;
}

.no-margin {
    margin: 0px;
}
  
.absolute {
    position: absolute;
}
  
.relative {
    position: relative;
}

.two-fade-in {
    animation: fadein 2s;
}

.twty-margin-bottom {
    margin-bottom: 20px;
}

.dark-invert {
    filter: var(--invert-filter);
}

li:not(:last-child) {
    margin-bottom: 10px;
}

ul {
    margin-bottom: 0px;
    margin-top: 10px;
}
  

/* Red colored project links */
.black-underline {
    position: relative;
    padding: 0em 0;
    color: var(--body_color);
    text-decoration: none;
}
  
.black-underline::after {
    content: '';
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: -1%;
    width: 102%;
    height: 0.1em;
    background-color: var(--body_color);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
  
.black-underline:hover::after,
.black-underline:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.1em, 0);
}
  
#time-text {
    font-size: 0.9em;
    font-weight: 500;
    color: var(--sub-text-color);
}

@keyframes personal-logo-gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  @keyframes loading {
      to {
        clip-path: inset(0 -12px 0 0)
      }
  }
  
  @keyframes bounce-text {
    0%   { transform: translateY(0); }
    46%  { transform: translateY(0); }
    50%  { transform: translateY(-4px); }
    56%  { transform: translateY(0); }
    58%  { transform: translateY(-2px); }
    65%  { transform: translateY(0); }
    100% { transform: translateY(0); }
  }