@import-normalize;


@import 'libs/vars';
@import 'libs/mixins';

// Base
@import 'base/page';
@import 'base/typography';

// Components
@import 'components/about';
@import 'components/cell';
@import 'components/darkModeToggle';
@import 'components/logo';
@import 'components/section';

// Layout
@import 'layout/main';
@import 'layout/subtitle';
@import 'layout/title';

// Pages
@import 'pages/notFound';

//TODO
//This is a massive file and needs to be moved to individual components
//THIS IS JUST A PLACEHOLDER AND NEEDS TO BE FIXED ASAP

:root {
    --body_background: white;
    --body_color: black;
    --content-background: #eeeeee;
    --content-text-color: #303030;
    --sub-text-color: #4b4b4b;
    --footer-background: #eeeeee;
    --invert-filter: invert(0%);
  }
  
  [data-theme="dark"] {
    --body_background: #1b1b1b;
    --body_color: white;
    --content-background: #131313;
    --content-text-color: #d6d6d6;
    --sub-text-color: #c5c5c5;
    --footer-background: #131313;
    --invert-filter: invert(90%);
  }

  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--body_background);
    transition: background-color 0.3s ease-in-out;
  }
  
  code {
    font-family: 'Roboto', sans-serif;
  }
  
  
  /* Classes */
  .Main {
    background-color: var(--body_background);
    transition: background-color 0.3s ease-in-out;
    overflow-x: hidden;
  }
  
  .homepage {
    width: 1200px;
    margin: auto;
    background-color: var(--body_background);
    max-width: 95vw;
    transition: background-color 0.3s ease-in-out;
  }
  
  .socials-logos {
    height: 20px;
    width: 20px;
    padding-top: 5px;
    padding-inline: 8px;
    filter: var(--invert-filter);
  }
  
  .socials-logos:hover {
    filter: invert(20%) sepia(32%) saturate(4473%) hue-rotate(345deg) brightness(78%) contrast(125%);
    top: -2px;
  }
  
  .company-logos {
    height: 30px;
    width: auto;
    display: inline;
    padding-right: 20px;
    top: 5px;
  }
  
  .content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-block: 50px;
    left: -50px;
  }
  
  .content-headers {
    color: var(--body_color);
    padding-bottom: 20px;
  }
  
  .content-container {
    padding-inline: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    transition-duration: 0.5s;
  }
  
  .content-container:hover {
    background-color: var(--content-background);
    border-radius: 5px;
    transition-duration: 0.5s;
  }
  
  .bounce-text {
    animation: bounce-text 3s ease infinite;
    display: inline-flex;
  }
  
  .bounce-text:hover {
    animation: none;
  }
  
  .side-bar {
    font-size: 2em;
    padding-right: 70px;
    width: 200px;
    text-align: right;
  }
  
  .sub-content {
    max-width: min(900px, 100%);
  }
  
  .projects {
    margin-left: -10px;
  }
  
  .project-headers {
    color: var(--body_color);
    padding-top: 5px;
  }
  
  .bullet-text {
    color: var(--content-text-color);
    font-weight: 500;
    font-size: 1em;
  }
  
  .experience {
    margin-left: -10px;
  }
  
  .exp-headers-container {
    padding-top: 5px;
    display: flex;
  }
  
  .experience-headers {
    color: var(--body_color);
    display: inline;
    vertical-align: middle;
  }
  
  .exp-headers-text {
    display: inline;
    flex-direction: column;
    justify-content: center;
  }
  
  .work-duration-text {
    font-style: italic;
    font-size: 0.9em;
    font-weight: 500;
    padding-top: 2px;
    color: var(--sub-text-color);
  }
  
  
  /* ids */
  #top-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-top: 50px;
    max-width: 80vw;
  }
  
  #logos-container {
    left: 50px;
    top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 120px;
    height: 100px;
  }
  
  #toggle-container {
    position: absolute;
    background-color: inherit;
    right: 50px;
    top: 100px;
    z-index: 10;
  }
  
  #socials-container {
    justify-content: center;
    display: inline-block;
    width: 140px;
  }
  
  #main-header {
    left: 50px;
  }
  
  #name-title {
    color: var(--body_color);
    font-size: 5em;
    padding-top: 30px;
  }
  
  #subheader-text {
    color: var(--content-text-color);
    font-weight: 500;
    font-size: 1em;
    padding-bottom: 5px;
  }
  
  #location-time-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  #location-time-container:hover > #location {
    filter: invert(20%) sepia(32%) saturate(4473%) hue-rotate(345deg) brightness(78%) contrast(125%);
  }
  
  #location-text {
    font-size: 0.9em;
    font-weight: 500;
    color: var(--sub-text-color);
    padding-right: 5px;
  }
  
  #location {
    width: 15px;
    height: auto;
    padding-right: 5px;
    filter: var(--invert-filter);
  }
  
  #location:hover {
    filter: invert(20%) sepia(32%) saturate(4473%) hue-rotate(345deg) brightness(78%) contrast(125%);
  }
  
  #about-text {
    color: var(--body_color);
    font-size: 1.15em;
    font-weight: 00;
    margin-left: 50px;
  }
  
  #hidden-kaj {
    opacity: 0;
    font-size: 0.8em;
    transition: 1s;
    pointer-events: none;
  }
  
  #kaj-text:hover + #hidden-kaj {
    display: inline;
    opacity: 1;
  }
  
  #coming-soon {
    color: var(--body_color);
    margin-top: 12px;
    padding-left: 50px;
    clip-path: inset(0 12px 0 0);
    animation: loading 3s steps(6) infinite, fadein 2s;
  }
  
  /* Screen size conditional*/
  @media screen and (max-width: 500px) {
    #name-title {
       font-size: 4em;
    }
    .homepage {
      max-width: 105vw;
    }
  }
  
  @media screen and (max-width: 1180px){
    .side-bar {
      text-align: left;
      padding-left: 90px;
      padding-left: 70px;
    }
    .sub-content {
      padding-left: 30px;
    }
    #media-title {
      padding-right: 0px;
      width: 100px;
    }
    #main-header {
      left: 20px;
    }
    #logos-container {
      left: 20px;
    }
  }

.no-decoration {
    text-decoration: none;
}

.twty-bottom-margin {
    margin-bottom: 20;
}

.no-margin {
    margin: 0px;
}
  
.absolute {
    position: absolute;
}
  
.relative {
    position: relative;
}

.two-fade-in {
    animation: fadein 2s;
}

.twty-margin-bottom {
    margin-bottom: 20px;
}

.dark-invert {
    filter: var(--invert-filter);
}

li:not(:last-child) {
    margin-bottom: 10px;
}

ul {
    margin-bottom: 0px;
}

/* Color reveal for entire keyword */
.color-reveal {
    text-decoration: none;
    background: 
      linear-gradient(to right, var(--body_color), var(--body_color)),
      linear-gradient(to right, rgb(220, 0, 0), rgb(225, 0, 255), rgb(0, 53, 200));
    background-size: 100% 1em, 0 1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.color-reveal:hover,
.color-reveal:focus {
    background-size: 0 1em, 100% 1em;
}
  

/* Red colored project links */
.black-underline {
    position: relative;
    padding: 0em 0;
    color: var(--body_color);
    text-decoration: none;
}
  
.black-underline::after {
    content: '';
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: -1%;
    width: 102%;
    height: 0.1em;
    background-color: var(--body_color);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
  
.black-underline:hover::after,
.black-underline:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.1em, 0);
}
  
#time-text {
    font-size: 0.9em;
    font-weight: 500;
    color: var(--sub-text-color);
}

@keyframes personal-logo-gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  @keyframes loading {
      to {
        clip-path: inset(0 -12px 0 0)
      }
  }
  
  @keyframes bounce-text {
    0%   { transform: translateY(0); }
    46%  { transform: translateY(0); }
    50%  { transform: translateY(-4px); }
    56%  { transform: translateY(0); }
    58%  { transform: translateY(-2px); }
    65%  { transform: translateY(0); }
    100% { transform: translateY(0); }
  }