
.App {
  background-color: #ffffff;
}

.socials-logos {
  height: 20px;
  max-width: 20px;
  padding-top: 5px;
  padding-inline: 5px;
  justify-content: center;
}

.intro-text {
  margin: 0;
  color: #000000;
  text-decoration: none;
}

.main-page {
  left: 50px;
  top: 150px;
}

.side-bar {
  font-size: 30px;
  padding-right: 100px;
}

.content {
  color:#303030;
  font-size: 20px;
  max-width: 900px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

#top-container {
  display: inline-flex;
}

#logos-container {
  left: 50px;
  top: 50px;
  max-width: 100px;
}

#personal-logo {
  pointer-events: none;
  height: auto;
  max-width: 100px;
}

#socials-container {
  display: flex;
  justify-content: center;
}

#name-title {
  color: black;
  font-size: 30px;
  top: 36px;
  left: 150px;
}

#subheader-text {
  color: #303030;
  font-weight: 100;
  font-size: 15px;
}

#about-container {
  display: flex;
  flex-wrap: wrap;
}
