.App {
  background-color: #ffffff;
}

.Intro-Text {
  margin: 0;
}

.Main-Content {
  left: 20vmin;
  position: absolute;
}

#App-logo {
  pointer-events: none;
  position: absolute;
  left: 5vmin;
  top: 5vmin;
  height: auto;
  max-width: 10vmin;
}

#Name-Title {
  color: black;
  font-size: calc(15px + 3vmin);
  position: relative;
  top: 10vmin;
}

#About-Text {
  color: #494949;
  font-size: calc(5px + 1vmin);
  position: absolute;
  left: 1vmin;
}
