
.App {
  width: 100%;
  overflow: hidden;
}

.socials-logos {
  height: 20px;
  max-width: 20px;
  padding-top: 5px;
  padding-inline: 5px;
  justify-content: center;
}

.intro-text {
  margin: 0;
  color: #000000;
  text-decoration: none;
}

.main-page {
  left: 50px;
}

.side-bar {
  font-size: 30px;
  padding-right: 100px;
  max-width: 80px;
}

.text-content {
  max-width: 900px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

#content {
  width: 80%;
  float: left;
  z-index: 10;
}

#top-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

#logos-container {
  left: 50px;
  top: 50px;
  max-width: 100px;
  padding-right: 80px;
  padding-bottom: 50px;
}

#personal-logo {
  pointer-events: none;
  height: auto;
  max-width: 100px;
}

#socials-container {
  display: flex;
  justify-content: center;
}

#name-title {
  color: black;
  font-size: 30px;
  padding-top: 35px;
  left: 50px;
}

#subheader-text {
  color: #303030;
  font-weight: 100;
  font-size: 15px;
}

#about-container {
  display: flex;
  flex-wrap: wrap;
}

#about-text {
  color:#303030;
  font-size: 20px;
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
}

p {
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

u {
  color: inherit;
  text-decoration: none;
}

u {
  background: 
    linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

u:hover,
u:focus {
  background-size: 0 0.1em, 100% 0.1em;
}


/* Underline styles */
a {
  position: relative;
  padding: 0.2em 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(128, 0, 0);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
