@use 'styles/breakpoint';
@use 'styles/duration';
@use 'styles/font';

.about {
  font-size: font.$about;
}

.kajText {
  margin: 0px;
  display: inline-flex;
  animation: bounce-text duration.$lg ease infinite;

  &:hover {
    animation: none;
  }

  &:hover + .hiddenKaj {
    opacity: 1;
    display: inline;
  }

  @keyframes bounce-text {
    0% {
      transform: translateY(0px);
    }
    46% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-5px);
    }
    56% {
      transform: translateY(0px);
    }
    58% {
      transform: translateY(-3px);
    }
    65% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

.hiddenKaj {
  opacity: 0;
  pointer-events: none;
  font-size: font.$hidden-kaj;
  transition: duration.$sm;
}
