/* Font Families */
$default: ('Roboto', sans-serif);
$logo: ('Permanent Marker');

/* Font weights */
$weight: 400;
$weight-bold: 700;
$weight-li: 500;
$weight-p: 400;
$weight-heading: 500;
$weight-heading-bold: 800;

/* Font Sizes */
$xxs: 0.8em;
$xs: 0.9em;
$sm: 1em;
$md: 1.15em;
$lg: 2em;
$xl: 4em;
$xxl: 5em;

/* Misc */
$kerning-heading: 0.01em;
