[theme='light'] {
  --body-background: white;
  --body-color: black;
  --content-background: #eeeeee;
  --content-text-color: #303030;
  --sub-text-color: #4b4b4b;
  --invert-filter: invert(0%);
}

[theme='dark'] {
  --body-background: #1b1b1b;
  --body-color: white;
  --content-background: #131313;
  --content-text-color: #d6d6d6;
  --sub-text-color: #c5c5c5;
  --invert-filter: invert(90%);
}
